## Knowing Series and DataFrame of pandas

### Series
#### Series = 1D, 1Column

In [33]:
import pandas as pd

In [35]:
# pandas nomally use int64 datatype (should confirm size of memory)
myList = [1,2,3,4]
test = pd.Series(myList)

In [37]:
print(type(test))

<class 'pandas.core.series.Series'>

### DataFrame

In [39]:
# Way1 : List
company1 = [["Samsung", 2000, "Smartphone"],
            ["Hyundai", 1000, "Mobility"],
            ["Naver", 500, "Portal"]]

In [41]:
df1 = pd.DataFrame(company1)
print(type(df1))
print(df1)

<class 'pandas.core.frame.DataFrame'>
         0     1           2
0  Samsung  2000  Smartphone
1  Hyundai  1000    Mobility
2    Naver   500      Portal

In [43]:
df1.columns = ["C_name","Netsale","M_busniess"]

In [45]:
df1

    C_name  Netsale  M_busniess
0  Samsung     2000  Smartphone
1  Hyundai     1000    Mobility
2    Naver      500      Portal

In [47]:
# Way  2 : Dictionary

In [49]:
company2 = {
    "C_name":["Samsung","Hyundai","Naver"],
    "Netsale" : [2000,1000,500],
    "M_busniess" : ["Smartphone","Mobility","Portal"]
}

In [51]:
df2 = pd.DataFrame(company2)

In [53]:
df2

    C_name  Netsale  M_busniess
0  Samsung     2000  Smartphone
1  Hyundai     1000    Mobility
2    Naver      500      Portal

### change index to name of specific column (index를 특정 column으로 지정하기)

In [55]:
df1.index = df1["C_name"]

In [57]:
df1

          C_name  Netsale  M_busniess
C_name
Samsung  Samsung     2000  Smartphone
Hyundai  Hyundai     1000    Mobility
Naver      Naver      500      Portal

In [59]:
print(df1["Netsale"])
print()
print(type(df1["Netsale"]))

C_name
Samsung    2000
Hyundai    1000
Naver       500
Name: Netsale, dtype: int64

<class 'pandas.core.series.Series'>

## Loading(Calling) from csv file
    - comma separated values

In [61]:
# file path from localfile
filePath = "/Volumes/Geozedo60/Python/bit/datamath/practice/DataScience/data/01. CCTV_in_Seoul.csv"
pd.read_csv(filePath)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [63]:
# load from http
# https 는 token 이슈가 있기도함
# github 는 raw link로 사용하면 가능함
# filePath = "https://github.com/PinkWink/DataScience/blob/master/data/01.%20CCTV_in_Seoul.csv"
filePath1 = "https://raw.githubusercontent.com/PinkWink/DataScience/master/data/01.%20CCTV_in_Seoul.csv"
# pd.read_csv(filePath)
pd.read_csv(filePath1)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [65]:
# load from excel
filePath = "/Volumes/Geozedo60/Python/bit/datamath/practice/DataScience/data/01. population_in_Seoul.xls"
pd.read_excel(filePath)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
filePath = "/Volumes/Geozedo60/Python/bit/datamath/practice/DataScience/data/01. CCTV_in_Seoul.csv"
df = pd.read_csv(filePath)

In [69]:
type(df)

pandas.core.frame.DataFrame

In [71]:
df.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [73]:
df.tail()

    기관명    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  1624       1368    218    112    398
21  은평구  1873       1138    224    278    468
22  종로구  1002        464    314    211    630
23   중구   671        413    190     72    348
24  중랑구   660        509    121    177    109

In [75]:
df.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [77]:
new_col = ['기관명', '소계', '2013년이전', '2014년', '2015년', '2016년']

In [79]:
df.columns = new_col

In [81]:
df.columns

Index(['기관명', '소계', '2013년이전', '2014년', '2015년', '2016년'], dtype='object')

In [83]:
df.index

RangeIndex(start=0, stop=25, step=1)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기관명      25 non-null     object
 1   소계       25 non-null     int64
 2   2013년이전  25 non-null     int64
 3   2014년    25 non-null     int64
 4   2015년    25 non-null     int64
 5   2016년    25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [87]:
df.describe()

                소계      2013년이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1179.080000   764.760000  159.480000  205.200000  385.880000
std     556.728983   415.510257  104.132976  137.877059  182.479981
min     485.000000   238.000000   21.000000   30.000000   81.000000
25%     748.000000   464.000000   78.000000  103.000000  292.000000
50%    1015.000000   573.000000  142.000000  184.000000  377.000000
75%    1496.000000  1070.000000  218.000000  269.000000  467.000000
max    2780.000000  1843.000000  430.000000  584.000000  932.000000

In [89]:
df.shape

(25, 6)

### Data sorting

In [91]:
# asc
df.sort_index()

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
3    강서구   884      388    258    184     81
4    관악구  1496      846    260    390    613
5    광진구   707      573     78     53    174
6    구로구  1561     1142    173    246    323
7    금천구  1015      674     51    269    354
8    노원구  1265      542     57    451    516
9    도봉구   485      238    159     42    386
10  동대문구  1294     1070     23    198    579
11   동작구  1091      544    341    103    314
12   마포구   574      314    118    169    379
13  서대문구   962      844     50     68    292
14   서초구  1930     1406    157    336    398
15   성동구  1062      730     91    241    265
16   성북구  1464     1009     78    360    204
17   송파구   618      529     21     68    463
18   양천구  2034     1843    142     30    467
19  영등포구   904      495    214    195    373
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
22   종로구  1002      464    314    211    630
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109

In [93]:
# desc
df.sort_index(ascending=False)

     기관명    소계  2013년이전  2014년  2015년  2016년
24   중랑구   660      509    121    177    109
23    중구   671      413    190     72    348
22   종로구  1002      464    314    211    630
21   은평구  1873     1138    224    278    468
20   용산구  1624     1368    218    112    398
19  영등포구   904      495    214    195    373
18   양천구  2034     1843    142     30    467
17   송파구   618      529     21     68    463
16   성북구  1464     1009     78    360    204
15   성동구  1062      730     91    241    265
14   서초구  1930     1406    157    336    398
13  서대문구   962      844     50     68    292
12   마포구   574      314    118    169    379
11   동작구  1091      544    341    103    314
10  동대문구  1294     1070     23    198    579
9    도봉구   485      238    159     42    386
8    노원구  1265      542     57    451    516
7    금천구  1015      674     51    269    354
6    구로구  1561     1142    173    246    323
5    광진구   707      573     78     53    174
4    관악구  1496      846    260    390    613
3    강서구   884      388    258    184     81
2    강북구   748      369    120    138    204
1    강동구   773      379     99    155    377
0    강남구  2780     1292    430    584    932

In [95]:
df.sort_values(by="소계",ascending=False)

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
18   양천구  2034     1843    142     30    467
14   서초구  1930     1406    157    336    398
21   은평구  1873     1138    224    278    468
20   용산구  1624     1368    218    112    398
6    구로구  1561     1142    173    246    323
4    관악구  1496      846    260    390    613
16   성북구  1464     1009     78    360    204
10  동대문구  1294     1070     23    198    579
8    노원구  1265      542     57    451    516
11   동작구  1091      544    341    103    314
15   성동구  1062      730     91    241    265
7    금천구  1015      674     51    269    354
22   종로구  1002      464    314    211    630
13  서대문구   962      844     50     68    292
19  영등포구   904      495    214    195    373
3    강서구   884      388    258    184     81
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
5    광진구   707      573     78     53    174
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109
17   송파구   618      529     21     68    463
12   마포구   574      314    118    169    379
9    도봉구   485      238    159     42    386

In [97]:
df.sort_values("소계")

     기관명    소계  2013년이전  2014년  2015년  2016년
9    도봉구   485      238    159     42    386
12   마포구   574      314    118    169    379
17   송파구   618      529     21     68    463
24   중랑구   660      509    121    177    109
23    중구   671      413    190     72    348
5    광진구   707      573     78     53    174
2    강북구   748      369    120    138    204
1    강동구   773      379     99    155    377
3    강서구   884      388    258    184     81
19  영등포구   904      495    214    195    373
13  서대문구   962      844     50     68    292
22   종로구  1002      464    314    211    630
7    금천구  1015      674     51    269    354
15   성동구  1062      730     91    241    265
11   동작구  1091      544    341    103    314
8    노원구  1265      542     57    451    516
10  동대문구  1294     1070     23    198    579
16   성북구  1464     1009     78    360    204
4    관악구  1496      846    260    390    613
6    구로구  1561     1142    173    246    323
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
14   서초구  1930     1406    157    336    398
18   양천구  2034     1843    142     30    467
0    강남구  2780     1292    430    584    932

### Data sorting : multi

In [99]:
# 동일한 조건이 있을 경우 세분화 시키는 방법
# "소계" 동일한 값이 있는 경우 -> "2015년"
df.sort_values(by=["소계","2015년"])

     기관명    소계  2013년이전  2014년  2015년  2016년
9    도봉구   485      238    159     42    386
12   마포구   574      314    118    169    379
17   송파구   618      529     21     68    463
24   중랑구   660      509    121    177    109
23    중구   671      413    190     72    348
5    광진구   707      573     78     53    174
2    강북구   748      369    120    138    204
1    강동구   773      379     99    155    377
3    강서구   884      388    258    184     81
19  영등포구   904      495    214    195    373
13  서대문구   962      844     50     68    292
22   종로구  1002      464    314    211    630
7    금천구  1015      674     51    269    354
15   성동구  1062      730     91    241    265
11   동작구  1091      544    341    103    314
8    노원구  1265      542     57    451    516
10  동대문구  1294     1070     23    198    579
16   성북구  1464     1009     78    360    204
4    관악구  1496      846    260    390    613
6    구로구  1561     1142    173    246    323
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
14   서초구  1930     1406    157    336    398
18   양천구  2034     1843    142     30    467
0    강남구  2780     1292    430    584    932

In [101]:
df["2014년"]

0     430
1      99
2     120
3     258
4     260
5      78
6     173
7      51
8      57
9     159
10     23
11    341
12    118
13     50
14    157
15     91
16     78
17     21
18    142
19    214
20    218
21    224
22    314
23    190
24    121
Name: 2014년, dtype: int64

In [103]:
df.소계

0     2780
1      773
2      748
3      884
4     1496
5      707
6     1561
7     1015
8     1265
9      485
10    1294
11    1091
12     574
13     962
14    1930
15    1062
16    1464
17     618
18    2034
19     904
20    1624
21    1873
22    1002
23     671
24     660
Name: 소계, dtype: int64

### Range set on DataFrame

In [105]:
df.shape

(25, 6)

In [107]:
test = df[:5]

In [109]:
test.shape

(5, 4)

### LOC

In [131]:
# 모든 행의 2014년 자료
df.loc[:,"2014년"]

0     430
1     100
2     120
3     258
4     260
5      78
6     173
7      51
8      57
9     159
10     23
11    341
12    118
13     50
14    157
15     91
16     78
17     21
18    142
19    214
20    218
21    224
22    314
23    190
24    121
Name: 2014년, dtype: int64

In [82]:
# 특정 행의 2014년 자료
df.loc[5:10,"2014년"]

5      78
6     173
7      51
8      57
9     159
10     23
Name: 2014년, dtype: int64

In [84]:
df

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
3    강서구   884      388    258    184     81
4    관악구  1496      846    260    390    613
5    광진구   707      573     78     53    174
6    구로구  1561     1142    173    246    323
7    금천구  1015      674     51    269    354
8    노원구  1265      542     57    451    516
9    도봉구   485      238    159     42    386
10  동대문구  1294     1070     23    198    579
11   동작구  1091      544    341    103    314
12   마포구   574      314    118    169    379
13  서대문구   962      844     50     68    292
14   서초구  1930     1406    157    336    398
15   성동구  1062      730     91    241    265
16   성북구  1464     1009     78    360    204
17   송파구   618      529     21     68    463
18   양천구  2034     1843    142     30    467
19  영등포구   904      495    214    195    373
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
22   종로구  1002      464    314    211    630
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109

In [86]:
df_2 = df.loc[6:9,["기관명","2014년","2015년"]]
df_3 = df.loc[6:9,"2014년":"2016년"]

In [88]:
print(df_2)
print()
print(df_2.shape)
print()
print(df_3)
print()
print(df_3.shape)

   기관명  2014년  2015년
6  구로구    173    246
7  금천구     51    269
8  노원구     57    451
9  도봉구    159     42

(4, 3)

   2014년  2015년  2016년
6    173    246    323
7     51    269    354
8     57    451    516
9    159     42    386

(4, 3)

In [90]:
# slice 데이터 타입으로 객체 선언해서 사용할 수 있음
needidx = slice(6,9)
needcol = ["기관명","2014년","2015년"]
df_4 = df.loc[needidx,needcol]

### iloc (position search)

In [92]:
# column index instaed of column name
df.iloc[:,[0,2]]

     기관명  2013년이전
0    강남구     1292
1    강동구      379
2    강북구      369
3    강서구      388
4    관악구      846
5    광진구      573
6    구로구     1142
7    금천구      674
8    노원구      542
9    도봉구      238
10  동대문구     1070
11   동작구      544
12   마포구      314
13  서대문구      844
14   서초구     1406
15   성동구      730
16   성북구     1009
17   송파구      529
18   양천구     1843
19  영등포구      495
20   용산구     1368
21   은평구     1138
22   종로구      464
23    중구      413
24   중랑구      509

In [94]:
# column index instaed of column name
# exclude stop num
df.iloc[:,0:3]

     기관명    소계  2013년이전
0    강남구  2780     1292
1    강동구   773      379
2    강북구   748      369
3    강서구   884      388
4    관악구  1496      846
5    광진구   707      573
6    구로구  1561     1142
7    금천구  1015      674
8    노원구  1265      542
9    도봉구   485      238
10  동대문구  1294     1070
11   동작구  1091      544
12   마포구   574      314
13  서대문구   962      844
14   서초구  1930     1406
15   성동구  1062      730
16   성북구  1464     1009
17   송파구   618      529
18   양천구  2034     1843
19  영등포구   904      495
20   용산구  1624     1368
21   은평구  1873     1138
22   종로구  1002      464
23    중구   671      413
24   중랑구   660      509

In [96]:
# start_index, stop_index, start_column, stop_column
df.iloc[1:3,0:3]

   기관명   소계  2013년이전
1  강동구  773      379
2  강북구  748      369

### Boolean indexing

In [98]:
df

     기관명    소계  2013년이전  2014년  2015년  2016년
0    강남구  2780     1292    430    584    932
1    강동구   773      379     99    155    377
2    강북구   748      369    120    138    204
3    강서구   884      388    258    184     81
4    관악구  1496      846    260    390    613
5    광진구   707      573     78     53    174
6    구로구  1561     1142    173    246    323
7    금천구  1015      674     51    269    354
8    노원구  1265      542     57    451    516
9    도봉구   485      238    159     42    386
10  동대문구  1294     1070     23    198    579
11   동작구  1091      544    341    103    314
12   마포구   574      314    118    169    379
13  서대문구   962      844     50     68    292
14   서초구  1930     1406    157    336    398
15   성동구  1062      730     91    241    265
16   성북구  1464     1009     78    360    204
17   송파구   618      529     21     68    463
18   양천구  2034     1843    142     30    467
19  영등포구   904      495    214    195    373
20   용산구  1624     1368    218    112    398
21   은평구  1873     1138    224    278    468
22   종로구  1002      464    314    211    630
23    중구   671      413    190     72    348
24   중랑구   660      509    121    177    109

In [100]:
# making boolean pd
df["소계"] < 1000

0     False
1      True
2      True
3      True
4     False
5      True
6     False
7     False
8     False
9      True
10    False
11    False
12     True
13     True
14    False
15    False
16    False
17     True
18    False
19     True
20    False
21    False
22    False
23     True
24     True
Name: 소계, dtype: bool

In [102]:
# boolean pd로 필터해서 추출
df[df["소계"]<1000]

     기관명   소계  2013년이전  2014년  2015년  2016년
1    강동구  773      379     99    155    377
2    강북구  748      369    120    138    204
3    강서구  884      388    258    184     81
5    광진구  707      573     78     53    174
9    도봉구  485      238    159     42    386
12   마포구  574      314    118    169    379
13  서대문구  962      844     50     68    292
17   송파구  618      529     21     68    463
19  영등포구  904      495    214    195    373
23    중구  671      413    190     72    348
24   중랑구  660      509    121    177    109

In [104]:
# raw filter : "소계" <1000
# column filter : "기관명","2013년이전","2014년"

df[df["소계"]<1000][["기관명","2013년이전","2014년"]]

     기관명  2013년이전  2014년
1    강동구      379     99
2    강북구      369    120
3    강서구      388    258
5    광진구      573     78
9    도봉구      238    159
12   마포구      314    118
13  서대문구      844     50
17   송파구      529     21
19  영등포구      495    214
23    중구      413    190
24   중랑구      509    121

## search by isin

In [136]:
filePath = "/Volumes/Geozedo60/Python/bit/datamath/practice/DataScience/data/05. draw_korea.csv"
df = pd.read_csv(filePath)
df

     Unnamed: 0   y   x      ID
0             0   0   7      철원
1             1   0   8      화천
2             2   0   9      양구
3             3   0  10  고성(강원)
4             4   1   3      양주
..          ...  ..  ..     ...
247         247  24   2      장흥
248         248  24   3      보성
249         249  25   2      완도
250         250  25   5      제주
251         251  26   5     서귀포

[252 rows x 4 columns]

In [138]:
# set target list
# make boolean index with t.list
myID = ["제주","양구"]
df["ID"].isin(myID)

0      False
1      False
2       True
3      False
4      False
       ...
247    False
248    False
249    False
250     True
251    False
Name: ID, Length: 252, dtype: bool

In [139]:
df[df["ID"].isin(myID)]

     Unnamed: 0   y  x  ID
2             2   0  9  양구
250         250  25  5  제주

In [140]:
# 특정 대상으로 할때 리스트 처리
df.loc[df["ID"].is음in(myID),["y","x","ID"]]

      y  x  ID
2     0  9  양구
250  25  5  제주

In [142]:
# 특정 구간으로 할때는 슬라이싱, 괄호 없음 
df.loc[df["ID"].isin(myID),"y":"ID"]

      y  x  ID
2     0  9  양구
250  25  5  제주

In [9]:
# check missing value
df.isna()

     Unnamed: 0      y      x     ID
0         False  False  False  False
1         False  False  False  False
2         False  False  False  False
3         False  False  False  False
4         False  False  False  False
..          ...    ...    ...    ...
247       False  False  False  False
248       False  False  False  False
249       False  False  False  False
250       False  False  False  False
251       False  False  False  False

[252 rows x 4 columns]

In [143]:
df.isnull()

     Unnamed: 0      y      x     ID
0         False  False  False  False
1         False  False  False  False
2         False  False  False  False
3         False  False  False  False
4         False  False  False  False
..          ...    ...    ...    ...
247       False  False  False  False
248       False  False  False  False
249       False  False  False  False
250       False  False  False  False
251       False  False  False  False

[252 rows x 4 columns]

In [144]:
df

     Unnamed: 0   y   x      ID
0             0   0   7      철원
1             1   0   8      화천
2             2   0   9      양구
3             3   0  10  고성(강원)
4             4   1   3      양주
..          ...  ..  ..     ...
247         247  24   2      장흥
248         248  24   3      보성
249         249  25   2      완도
250         250  25   5      제주
251         251  26   5     서귀포

[252 rows x 4 columns]

## copy DataFrame

In [115]:
filePath = "/Volumes/Geozedo60/Python/bit/datamath/practice/DataScience/data/01. CCTV_in_Seoul.csv"
df = pd.read_csv(filePath)
new_df = df

In [116]:
print(hex(id(new_df)))
print(hex(id(df)))

0x7f9900288700
0x7f9900288700

In [117]:
copy_df = df.copy()

In [118]:
print(hex(id(copy_df)))
print(hex(id(df)))

0x7f99002aa3a0
0x7f9900288700

In [119]:
copy_df["기관명"]=0

In [120]:
copy_df

    기관명    소계  2013년도 이전  2014년  2015년  2016년
0     0  2780       1292    430    584    932
1     0   773        379     99    155    377
2     0   748        369    120    138    204
3     0   884        388    258    184     81
4     0  1496        846    260    390    613
5     0   707        573     78     53    174
6     0  1561       1142    173    246    323
7     0  1015        674     51    269    354
8     0  1265        542     57    451    516
9     0   485        238    159     42    386
10    0  1294       1070     23    198    579
11    0  1091        544    341    103    314
12    0   574        314    118    169    379
13    0   962        844     50     68    292
14    0  1930       1406    157    336    398
15    0  1062        730     91    241    265
16    0  1464       1009     78    360    204
17    0   618        529     21     68    463
18    0  2034       1843    142     30    467
19    0   904        495    214    195    373
20    0  1624       1368    218    112    398
21    0  1873       1138    224    278    468
22    0  1002        464    314    211    630
23    0   671        413    190     72    348
24    0   660        509    121    177    109

In [121]:
df

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

## append new index

In [124]:
# append new raw : use dictionary
df.append({
    "기관명" : "광진구2",
    "소계" : 420,
    "2013년도 이전" : 100,
    "2014년" : 100,
    "2015년" : 100,
    "2016년" : 120
}, ignore_index=True)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109
25  광진구2   420        100    100    100    120

In [126]:
# append new column : 
df["2021년"] = 150
df

     기관명    소계  2013년도 이전  2014년  2015년  2016년  2021년
0    강남구  2780       1292    430    584    932    150
1    강동구   773        379     99    155    377    150
2    강북구   748        369    120    138    204    150
3    강서구   884        388    258    184     81    150
4    관악구  1496        846    260    390    613    150
5    광진구   707        573     78     53    174    150
6    구로구  1561       1142    173    246    323    150
7    금천구  1015        674     51    269    354    150
8    노원구  1265        542     57    451    516    150
9    도봉구   485        238    159     42    386    150
10  동대문구  1294       1070     23    198    579    150
11   동작구  1091        544    341    103    314    150
12   마포구   574        314    118    169    379    150
13  서대문구   962        844     50     68    292    150
14   서초구  1930       1406    157    336    398    150
15   성동구  1062        730     91    241    265    150
16   성북구  1464       1009     78    360    204    150
17   송파구   618        529     21     68    463    150
18   양천구  2034       1843    142     30    467    150
19  영등포구   904        495    214    195    373    150
20   용산구  1624       1368    218    112    398    150
21   은평구  1873       1138    224    278    468    150
22   종로구  1002        464    314    211    630    150
23    중구   671        413    190     72    348    150
24   중랑구   660        509    121    177    109    150

In [129]:
# append new data between index 0-1
new_data = {
    "기관명" : "구로구2",
    "소계" : 420,
    "2013년도 이전" : 100,
    "2014년" : 100,
    "2015년" : 100,
    "2016년" : 120,
    "2021년" : 150
    }
# where want to append data
idx = 1
temp1 = df[df.index<idx]
temp2 = df[df.index>idx]
df = temp1.append(new_data, ignore_index=True).append(temp2, ignore_index=True)

In [130]:
df

     기관명    소계  2013년도 이전  2014년  2015년  2016년  2021년
0    강남구  2780       1292    430    584    932  150.0
1   구로구2   420        100    100    100    120  150.0
2    강북구   748        369    120    138    204  150.0
3    강서구   884        388    258    184     81  150.0
4    관악구  1496        846    260    390    613  150.0
5    광진구   707        573     78     53    174  150.0
6    구로구  1561       1142    173    246    323  150.0
7    금천구  1015        674     51    269    354  150.0
8    노원구  1265        542     57    451    516  150.0
9    도봉구   485        238    159     42    386  150.0
10  동대문구  1294       1070     23    198    579  150.0
11   동작구  1091        544    341    103    314  150.0
12   마포구   574        314    118    169    379  150.0
13  서대문구   962        844     50     68    292  150.0
14   서초구  1930       1406    157    336    398  150.0
15   성동구  1062        730     91    241    265  150.0
16   성북구  1464       1009     78    360    204  150.0
17   송파구   618        529     21     68    463  150.0
18   양천구  2034       1843    142     30    467  150.0
19  영등포구   904        495    214    195    373  150.0
20   용산구  1624       1368    218    112    398  150.0
21   은평구  1873       1138    224    278    468  150.0
22   종로구  1002        464    314    211    630  150.0
23    중구   671        413    190     72    348  150.0
24   중랑구   660        509    121    177    109  150.0